@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');

body {
    background-color: #1B8C4C;
    text-align: center;
}

header {
    background-color: #D97218;
    color: rgb(248, 232, 232);
    font: normal normal 3.1em 'Seymour One';
    height: center;
    margin: auto;
    border-radius: 1.3em;
    width: 36em;
    text-align: center;
}

#pegarpedido {
    text-align: center;
    font: normal normal 2em "Paytone one";
}

main { 
    background-color: #ad1527;
    color: #edfffe;
    font: normal normal 2em Arial;
    margin: auto;
    width: 35em;
    padding: 5px;
    border-radius: 0px 50px 50px 50px;
    text-align: center;
    box-shadow: 30px 29px 13px #35050b5e;
}

input#botao {
    font: normal 20pt Arial;
    background-color: rgb(10, 71, 34);
    color: gainsboro;
    padding: 0.1em;
    text-align: center;
}
footer {
    text-align: center;
    font-size: 15pt;
} 

#menu {
    color: #52009E;
    background-color: #E5EB00;
    font: normal bold 2em 'Work Sans';
    border-radius: 1em;
    text-align: center;
    margin-inline: auto;
    margin-bottom: 0.5em;
    width: 30em;
    box-shadow: 7px 7px 7px #0c3d2170; 
}

.menu > a {
    text-decoration: none;
}

.menu > a {
    text-decoration: none;
}

#menu > a:hover {
    text-decoration: underline;
}

.menu {
    display: inline-block;
}

#qs {
    font: normal normal 1.8em 'Paytone One';
}

#outpro {
    background-color: #ad1527;
    color: #edfffe;
    font: normal normal 2em Arial;
    text-align: center;
    
    width: 11em;
    height: 11em;
    padding: 0.1em;

    border-radius: 0px 50px 50px 50px;
    box-shadow: 30px 29px 13px #35050b5e;
}

.passe {
    text-decoration: none;    
}

.passe:hover {
    text-decoration: underline;
}

.cartão {
    background-color: #638672;
    margin: 0.7em;
    padding: 0.1em;
    border-radius: 9%;
}

